<!-- Table -->
<mat-table
  [dataSource]="table.dataSource"
  matSort
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <!-- Dynamic Column -->
  <ng-container *ngFor="let column of columns">
    <ng-container matColumnDef="{{ column.header.columnDef }}">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [ngStyle]="column?.header?.style"
        [disabled]="column?.header?.disableSort"
      >
        <ceccoff-table-header [column]="column"></ceccoff-table-header>
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        [ngStyle]="column?.cell?.getStyle && column.cell.getStyle(row)"
      >
        <ceccoff-table-cell [column]="column" [row]="row"></ceccoff-table-cell>
      </mat-cell>
    </ng-container>
  </ng-container>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="table.dataSelection.hasValue() && isAllSelected()"
        [indeterminate]="table.dataSelection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [ngStyle]="row.style">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? table.dataSelection.toggle(row) : null"
        [checked]="table.dataSelection.isSelected(row)"
      >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expanded" *ngIf="expandable">
    <mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumns.length"
    >
      <ng-template
        [ngTemplateOutlet]="expandable"
        [ngTemplateOutletContext]="{ $rowData: element }"
      ></ng-template>
    </mat-cell>
  </ng-container>

  <!-- Show more Column -->
  <ng-container matColumnDef="showMore">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row" class="column-show">
      <button mat-icon-button (click)="clickShowMore(row)">
        <ng-container
          *ngIf="table.getDataExpanded() !== row; else elseTemplate"
        >
          <span>Ver mais</span><mat-icon>keyboard_arrow_down</mat-icon>
        </ng-container>
        <ng-template #elseTemplate>
          <span>Ver menos</span><mat-icon>keyboard_arrow_up</mat-icon>
        </ng-template>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <mat-row
    *matRowDef="let row; columns: ['expanded']; when: table.getDataExpanded()"
    [@expandCollapse]="
      row === table.getDataExpanded() ? 'expanded' : 'collapsed'
    "
    style="overflow: hidden"
  ></mat-row>
</mat-table>
<!-- END Table -->

<!-- Paginator -->
<ceccoff-paginator
  #paginator
  [table]="table"
  (paginationEvent)="paginationEvent($event)"
></ceccoff-paginator>
<!-- End Paginator -->
