<!-- Table -->
<mat-table
  [dataSource]="table.dataSource"
  matSort
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <!-- Dynamic Column -->
  <ng-container *ngFor="let column of columns">
    <ng-container matColumnDef="{{ column.header.columnDef }}">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [ngStyle]="column?.header?.style"
        [disabled]="column?.header?.disableSort"
      >
        <ceccoff-table-header [column]="column"></ceccoff-table-header>
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        [ngStyle]="column?.cell?.getStyle && column.cell.getStyle(row)"
      >
        <ceccoff-table-cell [column]="column" [row]="row"></ceccoff-table-cell>
      </mat-cell>
    </ng-container>
  </ng-container>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [ngStyle]="row.style">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<!-- END Table -->

<!-- Paginator -->
<ceccoff-paginator
  [table]="table"
  (paginationEvent)="paginationEvent($event)"
></ceccoff-paginator>
<!-- End Paginator -->
