<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource.getTable().dataSource" matSort>
    <ng-container *ngFor="let column of dataSource.getTable().columns | async">
      <ng-container matColumnDef="{{ column.header.columnDef }}">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container
            [ngTemplateOutlet]="tableHeader"
            [ngTemplateOutletContext]="{ header: column.header }"
          ></ng-container>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container
            [ngTemplateOutlet]="tableCell"
            [ngTemplateOutletContext]="{ column: column, row: row }"
          ></ng-container>
        </mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="dataSource.getTable().getColumnsToDisplay()"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: dataSource.getTable().getColumnsToDisplay()"
    ></mat-row>
  </mat-table>
  <mat-paginator
    (page)="pageEvents($event)"
    [pageSize]="dataSource.getTable().paginatorAttributes.pageSize"
    [pageIndex]="dataSource.getTable().paginatorAttributes.pageIndex"
    [length]="dataSource.getTable().paginatorAttributes.length"
    [showFirstLastButtons]="
      dataSource.getTable().paginatorAttributes.showFirstLastButtons
    "
    [pageSizeOptions]="
      dataSource.getTable().paginatorAttributes.pageSizeOptions
    "
  ></mat-paginator>
</div>

<!-- Config template to table header -->
<ng-template #tableHeader let-header="header">
  <span [innerHTML]="header.displayName | uppercase"> </span>
</ng-template>

<!-- Config template to table cell -->
<ng-template #tableCell let-column="column" let-row="row">
  <ng-container *ngIf="column.cell.templateRef; else elseTemplate">
    <!-- show templateRef in cell and return data to father component-->
    <ng-container
      [ngTemplateOutlet]="column.cell.templateRef"
      [ngTemplateOutletContext]="{ $rowData: row }"
    ></ng-container>
  </ng-container>
  <ng-template #elseTemplate>
    {{ column.cell.getValue(row) }}
  </ng-template>
</ng-template>
